.polaroid{padding:5px;background:#fff;border:1px solid #e0e0e0; padding-bottom:3em;}
figure{position:relative;}
figure img{width:100%;}
figure .caption{ position:absolute;bottom:1em; margin:auto; left:0;right:0; width:97%;text-align:center; }