$link:          #018EEA;
$link-visited:  #018EEA;
$link-active:   #f00;
$link-hover:    #f00;

$bg-color:      #fff;
$light-color:   #fff;
$font-family: Verdana, Arial, Helvetica, sans-serif;
$font-default: 16px; 
$font-xxlg: 36px;
$font-xlg:30px;
$font-lg:24px;
$font-med:18px;
$font-small:12px;
$font-xsmall:10px;
$font-xxsmall:8px;

$line-height: 20px;
$spacer:1em;

/* PIXEL BASED */
$gr-xxlarge: 	1600px;
$gr-xlarge: 	1440px;
$gr-large: 		1280px;
$gr-medium: 	960px;
$gr-small: 		840px;
$gr-xsmall: 	480px;
$gr-xxsmall: 	320px; 

$alert: red;



/*
Golden Ratios ---- pixel precise

$gr-xxxlarge:     1920px; 
1920 | 1187 | 734| 454 | 281 | 174

$gr-xxlarge: 	1600px;
1600 | 989 | 611 | 378 | 234 | 145

$bg-xlarge:     1440px;
1440 | 890 | 550 | 340 | 210| 130

$gr-large:      1280px;
1280 | 791 | 489 | 302 | 187 | 116

$gr-medium:     960px;
960 | 593 | 366 | 226 | 140 | 87

1bp-small:      840px;
840 | 519 | 321 | 198 | 122 | 75

$gr-xsmall:     480px;
480 | 297 | 184 | 114 | 70 | 43

1bp-xxsmall:    320px;
320 | 122 | 75 | 46 | 28

EM BASED
$gr-xxlarge: 	100em;
$gr-xlarge: 	90em;
$gr-large: 		80em;
$gr-medium: 	60em;
$gr-small: 		52.5em;
$gr-xsmall: 	30em;
$gr-xxsmall: 	20em; 





*/

